<div ng-controller="ShellCtrl" class="main-shell" ng-init="find()">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent">

      <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">{{ getCurrentUser().name }}</div>
          <div class="profile-email">{{ getCurrentUser().email }}</div>
        </div>
      </div>
      <div ng-if="!isLoggedIn()"  layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">Welcome, </div>
          <div class="profile-email">Guest</div>
        </div>
      </div>

    </md-toolbar>
    <md-content layout-padding>

<md-list>
<md-list-item ng-click="goToPerson('noma sana')" class="noright">
      <md-icon style="fill: #fff" md-svg-icon="assets/icons/university.svg"></md-icon>
    <p>University</p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
  </md-list-item>
<md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
     <md-icon style="fill: #fff" md-svg-icon="assets/icons/policeman.svg"></md-icon>
         <p>Police</p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
  </md-list-item>
<md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
    <md-icon style="fill: #fff" md-svg-icon="assets/icons/traffic.svg"></md-icon>
    <p>Traffic</p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
  </md-list-item>
<md-list-item ng-click="goToPerson(person.name, $event)" class="noright">
      <md-icon style="fill: #fff" md-svg-icon="assets/icons/nurse.svg"></md-icon>
    <p>Hospital</p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
  </md-list-item>

  </md-list>
    </md-content>
  </md-sidenav>




  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
          <span>Expose Corruption</span>
        </h2>
      <span flex=""></span>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <!--ng-click="showAddDialog($event)"-->
            <md-button ur-sref='incident'>
              <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
              Report
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="redial($event)">
              <md-icon md-svg-icon="action:payment" md-menu-align-target></md-icon>
              Donate
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button  ng-click="checkVoicemail()">
              <md-icon md-svg-icon="communication:contact_phone"></md-icon>
              Contact Us
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button  ng-click="checkVoicemail()">
              <md-icon md-svg-icon="assets/icons/idea.svg"></md-icon>
              Send Suggestions
            </md-button>
          </md-menu-item>


          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-hide="isLoggedIn()" ui-sref="login">
            <md-button>
              <md-icon md-svg-icon="action:input"></md-icon>
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="isLoggedIn()" ui-sref="signup">
            <md-button>
              <md-icon md-svg-icon="action:launch"></md-icon>
              Signup
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="isLoggedIn()">
            <md-button ng-click="logout()">
              <md-icon md-svg-icon="action:exit_to_app"></md-icon>
              Logout
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
